@import "styles.css";

/* Barra */
#barra-nav {
  background-color: var(--branco-pampa);
}

#barra-nav .nav-link {
  text-decoration: none;
  font-family: var(--fonte-titulo);
  color: var(--vinho-escuro);
}